body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
#header {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 1;
}
#header h1 {
  margin: 0;
  color: #ffffff;
  font-size: 24px;
}
#header h2 {
  margin: 5px 0 20px;
  color: #ffffff;
  font-size: 16px;
}
#info-panel {
  position: absolute;
  top: 1.5%;
  bottom: 2%;
  left: 0.5%;
  width: 30%;
  height: 95%; /* Takes up the entire height minus 2% on top and bottom */
  background-color: #eeeeee;
  border: 1px solid #cccccc;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 15px;
  overflow: auto; /* Allows scrolling within the panel if content exceeds its height */
}
#info-panel h3 {
  color: #333;
  margin: 10px;
  width: 100%;
  text-align: left;
}
.button-container {
  position: fixed; /* Fixed position relative to the viewport */
  bottom: 10px; /* 10px from the bottom */
  right: 10px; /* 10px from the right */
  display: flex; /* Display buttons inline */
  gap: 10px; /* Space between buttons */
}

#prevEvent,
#nextEvent {
  padding: 8px 16px;
  cursor: pointer;
  background-color: #ffa500; /* Orange */
  color: white;
  border: none;
  border-radius: 5px;
}

#prevEvent:hover,
#nextEvent:hover {
  background-color: #e69500; /* Darker shade of orange */
}

.mapboxgl-ctrl-attrib-inner {
  display: none !important;
}

.mapboxgl-ctrl-logo {
  display: none !important;
}

#top-right-box {
  position: absolute; /* Position it relative to the nearest positioned ancestor */
  top: 5px; /* Distance from the top */
  right: 5px; /* Distance from the right */
  width: 110px; /* Width of the box */
  height: 50px; /* Height of the box */
  background-color: #f8f9fa; /* Background color of the box */
  border: 1px solid #ccc; /* Border around the box */
  padding: 10px; /* Padding inside the box */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Adds shadow to the box */
  font-size: 300%; /* Makes the font size three times larger than the inherited size */
  overflow: hidden; /* Prevents text from overflowing */
  display: flex; /* Uses flexbox to align content */
  align-items: center; /* Centers content vertically */
  justify-content: center; /* Centers content horizontally */
  text-align: center; /* Ensures text is centered */
  line-height: 1.2; /* Adjust line height to ensure text fits well */
  border-radius: 10px; /* Rounds the corners of the box */
}
