body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#header {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 1;
}

#header h1 {
  margin: 0;
  color: #ffffff;
  font-size: 24px;
}

#header h2 {
  margin: 5px 0 20px;
  color: #ffffff;
  font-size: 16px;
}

.search-container {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;
}

.search-bar {
  margin-bottom: 5px;
  padding: 5px;
  width: 200px;
  font-size: 14px;
}

.view-button {
  padding: 5px 10px;
  margin-bottom: 5px;
}

.mapboxgl-ctrl-attrib-inner {
  display: none !important;
}

.mapboxgl-ctrl-logo {
  display: none !important;
}

/* CSS for Popup */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none; /* Hidden by default */
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  max-width: 400px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup-content p {
  margin: 0 0 20px 0; /* Add margin to space the message from the buttons */
}

.popup-content button {
  margin: 10px 0; /* Ensure consistent vertical spacing */
  width: 100%; /* Ensure buttons take up full width */
  max-width: 200px; /* Limit button width for a more centered appearance */
  padding: 10px; /* Add padding for better button aesthetics */
  font-size: 16px; /* Ensure button text is easily readable */
  cursor: pointer; /* Change cursor to pointer for buttons */
  border: none; /* Remove default border */
  border-radius: 5px; /* Add border radius for smoother edges */
  background-color: #007bff; /* Primary button color */
  color: white; /* White text color for contrast */
}

.popup-content button:hover {
  background-color: #0056b3; /* Darken the button on hover */
}

/* Remove underline from the MapGP logo link */
#header a {
  text-decoration: none;
  color: inherit; /* Maintain the original text color */
}

#header a:hover {
  text-decoration: none; /* Ensure no underline on hover */
}
