body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#header {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 1;
}

#header h1 {
  margin: 0;
  color: #ffffff;
  font-size: 24px;
}

#header h2 {
  margin: 5px 0 20px;
  color: #ffffff;
  font-size: 16px;
}

#info-panel {
  position: absolute;
  top: 1.5%;
  bottom: 2%;
  left: 0.5%;
  width: 30%;
  height: 95%;
  background-color: #eeeeee;
  border: 1px solid #cccccc;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 15px;
  overflow: hidden;
}

#info-panel h3 {
  color: #333;
  margin: 10px;
  width: 100%;
  text-align: center;
}

#info-panel > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
}

#info-panel > div.country-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 10px 0;
}

#country1-info,
#country2-info {
  font-size: 130%;
}

#info-panel p {
  flex: 1;
  text-align: center;
  margin: 0 20px;
  position: relative;
}

#info-panel p:first-child::after {
  content: "";
  position: absolute;
  left: 110%;
  top: 0%;
  bottom: 0%;
  transform: translateX(100%);
  width: 1px;
  background-color: #333;
  height: 110%;
}

.relationship-summary {
  width: 100%;
  min-height: 200px;
  max-height: 300px;
  padding: 10px;
  background-color: #eeeeee;
  overflow-y: auto;
  box-sizing: border-box;
  border-bottom: 1px solid gray;
}

.timeline-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;
  align-items: flex-start;
}

.timeline-entry {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  position: relative;
}

.timeline-entry::before {
  content: "";
  position: absolute;
  left: 80px;
  top: 0;
  width: calc(100% - 80px);
  border-bottom: 1px solid gray;
}

.timeline-entry:first-child::before {
  display: none;
}

.timeline-year {
  flex: 0 0 80px;
  min-height: 30px;
  text-align: left;
  padding: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  visibility: hidden;
}

.timeline-text {
  flex: 1 1 auto;
  background-color: #f0f0f0;
  padding: 5px;
  border-radius: 5px;
  overflow: hidden;
  word-wrap: break-word;
}

.timeline-text:hover {
  background-color: #d5d9dc;
}

.timeline-entry:hover .timeline-year {
  visibility: visible;
}

.mapboxgl-ctrl-attrib-inner {
  display: none !important;
}

.mapboxgl-ctrl-logo {
  display: none !important;
}

/* Popup Container */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: none; /* Hidden by default */
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it appears above other content */
}

/* Popup Content */
.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  max-width: 400px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3); /* Subtle shadow */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Popup Text Styling */
.popup-content p,
.popup-content h3 {
  margin: 0 0 20px 0; /* Margin for spacing between text and buttons */
}

.popup-content h3 {
  font-size: 20px;
  color: #333;
}

.popup-content ol {
  list-style-position: inside; /* Ensure numbers are inside the list items */
  padding-left: 0; /* Remove additional padding that might push the text */
  text-align: left; /* Align the text to the left */
}

.popup-content li {
  margin-bottom: 20px; /* Add spacing between the list items */
  font-size: 16px; /* Ensure readability */
}

/* Popup Buttons */
.popup-content button {
  margin: 10px 0;
  width: 100%;
  max-width: 200px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
}

.popup-content button:hover {
  background-color: #0056b3;
}

/* Remove underline from the MapGP logo link */
#header a {
  text-decoration: none;
  color: inherit;
}

#header a:hover {
  text-decoration: none;
}

/* Info Button Styling */
#info-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 1px 10px;
  font-size: 18px;
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 3; /* Ensure it appears above other content */
}

#info-button:hover {
  background-color: #004080;
}
